body {
  margin: 0;
  font-family: 'Product Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: white !important;
  text-align: center;
}

.navbar li a:hover {
  color: red !important;
  font-weight: bold !important;
  /* border-bottom: 3px solid red; */
}

#header{
  width: 100%;
  height: 80vh;
  margin-top: 70px;
}

#header h1{
margin:  0 0 10px 0;
font-size: 48px;
font-weight: 700;
color: black;
}
#header h2{
  color: #484848;
  font-size: 24px;
  font-weight: 350;
}
#header .btn-get-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: Red;
  border: 2px solid Red;
  text-decoration: none;
}
#header .btn-get-started:hover{
  background-color: Red;
  color: white;
} 
.navbar-brand b{
color: Red !important;
font-size: 30px;
}
.card{
  width: 18rem;
}
.btn-danger{
  background-color: red !important;
}

/* code for resposiveness */
@media (max-width: 991px){
  #header {
    height: 80vh;
    text-align: center;
  }
  #header .header-img{
    text-align: center;
  }
  #header .header-img img {
    width: 60%;
  }
}

@media (max-width: 768px){
  #header {
    margin-top: 20px;
  }
  #header h1{
    font-size: 38px;
   }
  #header h2{
   font-size: 18px;
   margin-bottom: 30px;
  }
  #header .header-img img {
    width: 70%;
  }
}

